@using System.Web.Optimization
@using Router.Helpers
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/layout-bundle-css")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Scripts/layout-bundle-javascript")
    @Html.ServerSideInclude("~/Views/Home/jobs.html")
    @Html.ServerSideInclude("~/Views/Home/stores.html")
    @RenderSection("scripts", required: false)
</body>
</html>
